*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfaff;
}

header {
    position: relative;
    background: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #6a5acd;
}
.nav{
    position: sticky;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.nav ul li a:hover {
    color: #6a5acd;
}

.nav-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
}

.signup {
    color: #6a5acd;
    border: 2px solid #6a5acd;
}

.contact {
    background: linear-gradient(to right, #6a5acd, #9370db);
    color: white;
}